<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Query</title>
    
        <% include ./partials/header.ejs %>

    </head>
    <body>

        <% include ./partials/navbar.ejs %>
        <div class="container mt-4">
        
            <h3 class="my-4">Submit Your Query</h3>
            <form action="/query" method="post">
                <div class="form-group">
                    <input type="text" class="form-control"  name="keywords" placeholder="Keywords separated by ';'">
                </div>
                <div id="emails">
                    <div class="form-group">  
                        <p> Select User </p>
                        <select class="options" name="studentEmail[]">
                            <option value="None">No User</option>
                        </select>               
                    </div>
                    <button class=""></button>
                </div>
                <div class="form-group">  
                    <p> Select Mentor </p>
                    <select class="options2" name="mentorEmail">
                        <option value="None">No Mentor</option>
                    </select>               
                </div>
                <button type="submit" class="btn btn-primary" >Submit</button>
            </form>
            <button id="addBtn" class="btn btn-primary">Add more Students</button>
        </div>

        <script src="/js/query.js"></script>

    </body>
</html>